<aside class="border-r-2 h-screen">
  <h2 class="text-2xl font-medium text-center py-2 border-b-2">Menu</h2>
  <div class="navigate">
    <a
      [routerLink]="['/manager/room']"
      class="p-2 border-b-2 flex gap-2 hover:bg-slate-300 hover:text-white hover:font-medium"
    >
      <fa-icon [icon]="faRoom"></fa-icon>
      <span> Room Management</span>
    </a>
    <a
      [routerLink]="['/manager/room']"
      class="p-2 border-b-2 flex gap-2 hover:bg-slate-300 hover:text-white hover:font-medium"
    >
      <fa-icon [icon]="faService"></fa-icon>
      <span> Service Management</span>
    </a>
    <a
      [routerLink]="['/manager/room']"
      class="p-2 border-b-2 flex gap-2 hover:bg-slate-300 hover:text-white hover:font-medium"
    >
      <fa-icon [icon]="faBooking"></fa-icon>
      <span> Booking Management</span>
    </a>
    <a
      [routerLink]="['/manager/room']"
      class="p-2 border-b-2 flex gap-2 hover:bg-slate-300 hover:text-white hover:font-medium"
    >
      <fa-icon [icon]="faUser"></fa-icon>
      <span> User Management</span>
    </a>
    <a
      [routerLink]="['/manager/room']"
      class="p-2 border-b-2 flex gap-2 hover:bg-slate-300 hover:text-white hover:font-medium"
    >
      <fa-icon [icon]="faRole"></fa-icon>
      <span> Role Management</span>
    </a>
  </div>
</aside>
