<div class="card border-2 border-slate-200 rounded-md">
  <div class="card-header border-b-2 p-2">
    <h1 class="text-2xl font-medium">
      {{ isEdit ? "Edit" : "Create" }} Service
    </h1>
    <p class="text-green-500 text-2xl font-medium text-center">{{ message }}</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row flex justify-between items-center gap-4 border-b-2 p-4">
      <div class="form-group w-[50%]">
        <label for="number" class="block font-medium">Number</label>
        <input
          type="text"
          formControlName="number"
          id="number"
          class="border w-full border-slate-400 p-2 rounded-md"
        />
      </div>
      <div class="form-group w-[50%]">
        <label for="type" class="block font-medium">Type</label>
        <select
          id="type"
          formControlName="type"
          class="border w-full p-2 border-slate-400 rounded-md"
        >
          <option>Standard</option>
          <option>Suite</option>
          <option>Deluxe</option>
        </select>
      </div>
    </div>
    <div class="row flex justify-between items-center gap-4 border-b-2 p-4">
      <div class="form-group w-[50%]">
        <label for="capacity" class="block font-medium">Capacity</label>
        <input
          type="number"
          formControlName="capacity"
          id="capacity"
          min="0"
          step="1"
          class="border w-full border-slate-400 p-2 rounded-md"
        />
      </div>
      <div class="form-group w-[50%]">
        <label for="price" class="block font-medium">Price</label>
        <input
          type="number"
          formControlName="price"
          id="price"
          min="0"
          step="10"
          class="border w-full border-slate-400 p-2 rounded-md"
        />
      </div>
    </div>
    <div class="row border-b-2 p-4">
      <div class="form-group w-[50%] flex gap-2">
        <label for="isActive" class="block font-medium">Active</label>
        <input
          type="checkbox"
          formControlName="isActive"
          id="isActive"
          class="scale-125"
        />
      </div>
    </div>
    <div class="card-footer flex justify-end gap-3 p-4">
      <button
        type="button"
        (click)="onCancel()"
        class="p-2 bg-slate-300 text-white rounded-full"
      >
        <fa-icon [icon]="faCancel" class="mr-1"></fa-icon>Cancel
      </button>
      <button type="reset" class="p-2 bg-green-500 text-white rounded-full">
        <fa-icon [icon]="faRefresh" class="mr-1"></fa-icon>Reset
      </button>
      <button type="submit" class="p-2 bg-blue-500 text-white rounded-full">
        <fa-icon [icon]="faSave" class="mr-1"></fa-icon>Submit
      </button>
    </div>
  </form>
</div>
