<header class="bg-slate-400 text-white font-extralight shadow-md relative">
  <div class="container w-[75%] m-auto flex justify-between items-center">
    <a [routerLink]="['/ ']">
      <img [src]="brandHome" class="w-14 h-14 rounded-md" alt="" />
    </a>

    <nav class="navbar">
      <ul class="nav-list flex">
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/manager']" class="nav-link"> Management </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/room-suite']" class="nav-link"> Room&Suite </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/restaurant']" class="nav-link"> Restaurant </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/services']" class="nav-link"> Services </a>
        </li>
        <li
          class="nav-item"
          (mouseenter)="onHover(true)"
          (mouseleave)="onHover(false)"
        >
          <a [routerLink]="['/news']" class="nav-link">
            News
            <fa-icon [icon]="isHovered ? faUp : faDown" class="m-1"></fa-icon
          ></a>

          <ul
            class="sub-nav absolute top-[100%] bg-gray-300 w-[160px] h-[100px] shadow-md py-2"
            [ngClass]="{ show: isHovered }"
          >
            <li class="nav-item mb-3">
              <a [routerLink]="['/about']" class="nav-link"> About </a>
            </li>
            <li class="nav-item mb-3">
              <a [routerLink]="['/locations']" class="nav-link">
                Hot Locations
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" class="nav-link"> Contact </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/test']" class="nav-link"> Test </a>
        </li>
      </ul>
    </nav>
    <!-- Profile Menu -->
    <ul class="profile-menu flex">
      <ng-container *ngIf="!isAuthenticated; else authenticated">
        <ng-container *ngTemplateOutlet="notAuthenticated"></ng-container>
      </ng-container>
    </ul>
  </div>
</header>

<ng-template #notAuthenticated>
  <li class="nav-item">
    <a [routerLink]="['/auth/login']" class="nav-link">Login</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/auth/register']" class="nav-link">Register</a>
  </li>
</ng-template>

<ng-template #authenticated>
  <li class="nav-item">
    <a [routerLink]="['/profile']" class="nav-link">{{
      userInformation.displayName
    }}</a>
  </li>
  <li class="nav-item">
    <a (click)="logout()" class="nav-link">Logout</a>
  </li>
</ng-template>
